body {
  font-family: Roboto;
  padding: 150px 20px;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  border: 1.5px solid black;
  gap: 15px;
  box-shadow: 10px 10px 0 black;
}
  
svg {
  border-radius: 10px;
}

button {
  width: 80px;
  background-color: hsl(47, 88%, 63%);
  color: black;
  padding: 7px 12px;
  font-weight: 700;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

p {
  font-size: 14px;
}

.content-description {
  color: Grey;
  font-size: 16px;
}

.author-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.author-name{
  font-weight: 700;
  cursor: pointer;
}

/*media queries*/
@media (max-width: 750px) {
  .main-container{
    width: 300px;
  }
  body {
    background-image: linear-gradient(to right, rgb(97, 89, 165), rgb(255, 255, 255));
  }
} 

@media (min-width: 750.02px) and (max-width: 1000px) {
  body {
    background-image: linear-gradient(to left, rgb(37, 233, 200), rgb(214, 214, 205));
  }
}

@media (min-width: 1000.02px) {
  body {
    background-image: linear-gradient(to left, rgb(238, 245, 240), rgb(235, 235, 101));
  }
}